body{
  font-family: 'Roboto', sans-serif;
}
footer{
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
canvas{
	border: 1px solid #000;
	margin: 10px;
	background-color: #707b7d;
}
.center{
	display: flex;
	justify-content: center;
	margin-top: 35px;
}